<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
		<header class="jumbotron__header">{{title}}</header>
	</div>