<!DOCTYPE html>
<html>
<head>
	<title>Punch Brothers Ipsum</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/overrides.css">
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div class="jumbo">
		<img class="jumbo__image" src="./images/punch-brothers.jpg" />
		<header class="jumbo__header">{{title}}</header>
	</div>