{{>header}}

<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 col-12">
			<div class="intro">
				<div class="intro__header">
					<h2 class="intro__header__text">Rye whiskey makes the mockups better</h2>
				</div>
				<p>Finely handcrafted placeholder text consisting entirely of Punch Brothers lyrics.</p>
				<p>1 teaspoon Demerara sugar, 2  ounces rye whiskey, 1 or 2  dashes Angostura bitters, 1 or 2  dashes orange bitters, 1  strip lemon peel, and paragraphs of placeholder text to taste.</p>

				<form action="/" method="POST" class="intro__form">
					<input class="intro__form__input" type="number" name="paragraphs" placeholder="Number of Paragraphs" required="required">
					<button type="submit" class="btn btn-primary"><span class="buttontext">Oh boy!</span></button>
				</form>
			</div>

			<div class="lorem">
				<h3 class="lorem__header">Example:</h3>
				{{#each lorem}}
					<p class="lorem__text">{{this}}</p>
				{{/each}}
			</div>
		</div>
	</div>
</div>

{{>footer}}