{{> header}}

<div class="container">
	<div class="row">
		<div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 col-12 result">
			<div class="result__header">
				<i class="fas fa-long-arrow-alt-left result__header__icon"></i>
				<h2 class="result__header__text"><a href="/">Try again</a></h2>
			</div>
			
			{{#each lorem}}
				<p class="result__lorem">{{this}}</p>
			{{/each}}
		</div>
	</div>
</div>
	
{{> footer}}