@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Playfair+Display:700,700i,900,900i');

.jumbotron {
	background-image: url('../images/punch-brothers.jpg');
	background-size: 100% auto;
	height: 50vh;
	position: relative;
}

.jumbotron__header {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	font-weight: 900;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
}

@media (max-width: 320px) {
	.jumbotron {
		height: 30vh;
	}
}

.header {
	text-align: left;
}

.header__text {
	display: inline-block;
}

.bodytext {
	font-family: 'Open Sans', sans-serif;
}

.buttontext {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.form {
	margin: 25px 0;
	text-align: center;
}

.form__input {
	width: 300px;
}

.footer {
	background-color: #12486A;
	padding: 10px 0;
	text-align: center;
}

.footer__text {
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin: 0;
}

.footer__link {
	color: white;
}