@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Playfair+Display:700,700i,900,900i');

html {
	font-size: 16px;
}

.footer {
	background-color: #12486A;
	padding: 10px 0;
	text-align: center;
}

.footer__link {
	color: white;
}

.footer__text {
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	margin: 0;
}

.intro__form {
	margin: 25px 0;
	text-align: center;
}

.intro__form__input {
	max-width: 200px;
	width: 80%;
}

.jumbo {
	margin: 0 0 35px 0;
	max-height: 45vh;
	overflow-y: hidden;
	position: relative;
	width: 100vw;
}

.jumbo__image {
	display: inline-block;
	width: 100%;
}

.jumbo__header {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 3rem;
	font-weight: 900;
	left: 50%;
	line-height: 1.25em;
	padding: 0 15px;
	position: absolute;
	text-align: center;
	top: 50%;
	/* God bless whoever came up with this vv*/
	transform: translate(-50%, -50%);
	width: 100%;
}

.lorem {
	margin-bottom: 35px;
}

.result {
	margin-bottom: 35px;
}

.result__header__icon {
	bottom: 3px;
	margin-right: 10px;
	position: relative;
}

.result__header__text {
	display: inline-block;
}