@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900,900i');

.jumbotron {
	background-image: url('../images/punch-brothers.jpg');
	background-size: 100% auto;
	height: 50vh;
	position: relative;
}

.jumbotron__header {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
}



@media (max-width: 320px) {
	.jumbotron {
		height: 30vh;
	}
}